subreddit-van {
  flex: 0 0 33%;
  min-width: 400px;
  padding: 20px 42px;
}

subreddit-van h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

subreddit-van .item-list {
  border-top: 1px solid #bec9d0;
  padding-top: 20px;
  list-style: none;
}

subreddit-van .item-list li {
  margin-bottom: 17px;
}
